<div class="panel panel-default">
  <div class="panel-heading">Container List</div>
  <div class="panel-body">An overview of all containers</div>
  <%= render :partial => 'list', :locals => {containers: @containers} %>
</div>